
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LiYuanqing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap Style -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
<body>


		<div id="fh5co-portrait" style="background-image: url(images/hero.jpg);" data-minheight="500">
			<!-- <div id="fh5co-toggle" class="js-fh5co-toggle to-animate-single"><a href="#fh5co-bio" class="fh5co-active"><i class="icon-align-right"></i></a></div> -->
			<div id="fh5co-intro">
				<h1><span class="to-animate"><a href="http://www.cnblogs.com/liyuanqing/">博客</a></span> <span class="to-animate"><a href="https://github.com/liyuanqing">github</a></span> <span class="to-animate"><a href="">简历</a></span> <span class="to-animate"><a href="">个人项目</a></span></h1>
				<!-- <p class="to-animate">Interested in working together? Email me at <a href="mailto:info@freehtml5.co" class="to-animate">info@freehtml5.co</a></p> -->
			</div>
			<div id="social-animate" class="fh5co-social">
				<ul>
					<li><a href="#" class="to-animate"><i class="icon-twitter-with-circle"></i></a></li>
					<li><a href="#" class="to-animate"><i class="icon-facebook-with-circle"></i></a></li>
					<li><a href="#" class="to-animate"><i class="icon-instagram-with-circle"></i></a></li>
          <li><a href="https://github.com/liyuanqing" class="to-animate"><i class="icon-github-with-circle"></i></a></li>
				</ul>
			</div>
			<div class="overlay"></div>
		</div>
        <div class="copyrights">Collect from <a href="http://www.liyuanqing.top/" >手机网站模板</a></div>
		<div id="fh5co-bio">
			<!-- <div id="fh5co-bio-inner">
				<p class="to-animate">Far far away, behind the word <a href="#">mountains</a>, far from the countries Vokalia and <a href="#">Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				<p class="to-animate">A small river named <a href="#">Duden</a> flows by their place and supplies it with the necessary regelialia. It is a <a href="#">paradisematic</a> country, in which roasted parts of <a href="#">sentences</a> fly into your <a href="#">mouth</a>. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
				<p class="to-animate">A small river named Duden flows by their place and supplies it with the necessary regelialia. Get in touch through <a href="#">twitter</a>, <a href="#">facebook</a> and <a href="#">instagram</a></p>
				<div class="fh5co-copyright to-animate">
					<p><small>&copy; 2015 Free HTML5 Single. By More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> Images: <a href="#" target="_blank">Unsplash</a> </small></p>
				</div>
			</div> -->

		</div>


		<!-- jQuery -->
		<script src="/js/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="/js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="/js/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="/js/jquery.waypoints.min.js"></script>
		<!-- Main JS -->
		<script src="/js/main.js"></script>


	</body>
</html>
